.header{
    position: fixed;
    background: linear-gradient(269.72deg, #C4C4C4 20.11%, #99FEFF 100%);
    z-index: 10;
}

.logo{
    width: 100%;
}

.navbar img:hover{
    opacity: 50%;
}

.navbar a{
    width: 20%;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.wrap-search{
    position: relative;
    width: 55%;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #004068;
    border-radius: 25px;
}

.icon-search{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.form-control{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border: none;
}

.form-control:focus{
    box-shadow: none;
    background-color: transparent;
    font-size: 1.2rem;
}

.form-control::placeholder{
    color: #004068;
    font-size: 1.2rem;
}

.logo,.icon-search,.toggle,.cart{
    cursor: pointer;
}

.body{
    top: 12.5rem;
    position: relative;
}

.text h1{
    display: inline-flex;
    padding-bottom: 0.5rem;
    color: #004068;
    font-weight: bold;
    border-bottom: 3px solid #004068;
}

.spesial{
    color: #004068;
    font-size: 1.5rem;
}

.spesial img{
    width: 324px;
    height: 386px;
    border: 3px solid #004068;
}

.spesial img:hover{
    opacity: 80%;
}

.hr{
    width: 100%;
    height: 5px;
    position: absolute;
    background-color: #004068;
}

.background{
    margin-top: 5rem;
    background: linear-gradient(264.42deg, #C4C4C4 0%, #99FEFF 100%);
}

.background h2{
    color: #004068;
}

.background p{
    font-size: 1.5rem;
}

.list{
    position: absolute;
    z-index: 50;
    background: linear-gradient(264.42deg, #99FEFF 0%, #C4C4C4 100%);
    top: 5.5rem;
    display: none;
    flex-direction: column;
    border: 3px solid #004068;
    color: #004068;
}

.bar{
    display: none;
    flex-direction: row-reverse;
}

.bar a{
    color: #004068;
}

.keranjang{
    position: absolute;
    z-index: 50;
    background: linear-gradient(264.42deg, #99FEFF 0%, #C4C4C4 100%);
    top: 5.5rem;
    left: 70%;
    transform: translateX(-30%);
    display: none;
    border: 3px solid #004068;
    color: #004068;
}

.slogan{
    color: #004068;
}

.visi2{
    font-size: 1.2rem;
}

.hr2{
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 2px solid #004068;
}

.text2 p{
    margin-bottom: 3rem;
    font-size: 1.2rem;
}

.form{
    color: #004068;
}